<h1 class="mt-4">Here we go !</h1>
<p class="lead mb-3">Welcome <span style='color:red; font-size:25px;'> <%= user.name %> </span></p>
<div>

        Chatbots are programs built to automatically engage with received messages. Chatbots can be programmed to respond the same way each time, to respond differently to messages containing certain keywords and even to use machine learning to adapt their responses to fit the situation.
<br><br>
        Chatbots leverage chat mediums like SMS text, website chat windows and social messaging services across platforms like Facebook and Twitter to receive and respond to messages.
        <br><br>
        Chatbots come in all forms. There are some fun and goofy chatbots like Cleverbot, a chatbot that chats with real people and learns as it goes.
        <br><br>
    </div>
	
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="http://localhost:5000" class="btn btn-secondary">chatbot</a>
